<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul><style>li{color:white;}</style> <li> <style>h1{color: white};</style><h1>Trabajo 1</h1>- <h3>(years)</h3></li>
            <style>p { color: white};</style><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eius quis molestias vel vero deserunt non pariatur dignissimos, consequatur, officia eaque sequi ad? Iure eveniet consequatur dicta ratione non fugit!</p>
            
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1>- <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eius quis molestias vel vero deserunt non pariatur dignissimos, consequatur, officia eaque sequi ad? Iure eveniet consequatur dicta ratione non fugit!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1>- <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eius quis molestias vel vero deserunt non pariatur dignissimos, consequatur, officia eaque sequi ad? Iure eveniet consequatur dicta ratione non fugit!</p>
        </ul>
    </div>
</div>
