<div class="row">
<h1>Proyectos Realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte 1">
        <style>p{color: white};</style><p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum necessitatibus distinctio exercitationem, voluptatem temporibus tempore in laudantium quibusdam est quos sapiente nobis assumenda consequatur adipisci minima fuga nulla quia omnis?</p>
        <style>h1{color: white};</style> <style>h2{color: white};</style><h2>Primer Pàgina Web </h2>
    </div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte 2">
<img src="../../../assets/primer pagina.png" class="img-fluid img-proyecto">
</div>
</div>
</div>
